<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue</title>
</head>
<body>
<script src="https://unpkg.com/vue@3/j1nfbC5odist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>


    <div id="app">

      {{message}} - {{salutation}}


      <img :src="imageUrl" alt="on text">

      <ul>
        <li v-for="user in users"> {{user.name}} - {{user.age}}</li>
      </ul>

      <h1>{{doubleCounter}} - {{counter}}</h1>

      <button @click="incrementAge">Une annee en plus</button>

      <button v-on:click="counter++">counter plus</button>

      <button @click="showDate">Afficher la date</button>

      <p>{{date}}</p>

      <input type="text" placeholder="name" v-model="name" @keyup.enter="showAlert" > {{ sanitizedName }}



      <div v-if="display">AFFICHE</div>
      <div v-else>NE PAS AFFICHER</div>

      <button @click="display = !display">
        <!-- SHOW || HIDE -->
        {{ display ? 'HIDE' : 'SHOW' }}
      </button>



    </div>


    <script>
      const createApp = Vue.createApp
      // IDEM en ESNext => const { createApp } = Vue

      createApp({
        data() {
          return {
            message: "Salut les B1",
            salutation: "coucou",
            counter: 0,
            date: '',
            imageUrl: 'https://picsum.photos/200/100'
,            display: true,
            name: '',
            users: [
              {name: 'alex', age: 39},
              {name: 'flo', age: 24},
              {name: 'affo', age: 24}
            ]
          }
        },
        methods: {
          incrementAge() {
            // les users, pour chaque user , user.age++
            this.users.forEach(user => {
              user.age++
            });
          },
          showDate() {
            this.date = dayjs().format('DD MMMM YY')
          },
          showAlert(){
            alert('CHAUD CHAUD')
          }
        },
        computed: {
          doubleCounter() {
            return this.counter*2
          },
          sanitizedName() {
            return this.name.toLowerCase()
          },
        }
      }).mount('#app')

    </script>

  
</body>
</html>
